.back-button{
  position: sticky;
  top: 210px;
  margin-left: -150px;
  background-color: transparent;
  border: 1px solid $dark;
  border-radius: 99px;
  padding: 10px 15px;
  font-family: $main-font;
  font-weight: 100;
  z-index: 5;
  cursor: default;
}

.doc-button{
  display: inline-block;
  background-color: transparent;
  border: 1px solid $dark;
  border-radius: 20px;
  padding: 10px 15px;
  font-family: $main-font;
  font-weight: 100;
  z-index: 5;
  cursor: default;
}

@media only screen and (max-width: 1366px){
  //tablets
  .back-button{
    display: none;
  }
}
