table, th, td {
  font-family: $main-font;
  font-size: 24px;
  border: 1px solid $dark;
  border-collapse: collapse;
}

table{
  width: 100%;
  margin: auto;
}

td{
  font-weight: 300;
  padding: 10px;
}

th{
  font-weight: bold;
  padding: 10px;
}

.normal{
  width: 100%;
  margin: 20px auto auto 0px;
  
  th, td {
    font-family: $main-font;
    font-size: 18px;
    border: 1px solid $dark;
    border-collapse: collapse;
  }
  
  td{
    font-weight: 300;
    padding: 10px;
  }
  
  th{
    font-weight: bold;
    padding: 10px;
  }
}
