// Colors
$dark: #1c191c;
$background: #F9F9F9;
$grey: #b5b5b5;

// Transition
$transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);

// Font family
$main-font: 'work sans', sans-serif;
$heading-font: 'overpass', sans-serif;
